In [6]:
import numpy as np
import pandas as pd

In [7]:
samples = pd.DataFrame(np.full((8, 12), ""), columns=[f"{i+1}" for i in range(12)], index=[f"{chr(65+i)}" for i in range(8)])
samples

  1 2 3 4 5 6 7 8 9 10 11 12
A
B
C
D
E
F
G
H

In [21]:
row = [chr(65+i) for i in range(8)] * 12
print(row)
col = np.repeat(range(1, 13), 8)
print(col)

df = pd.DataFrame(np.full((96, 2), ""), columns=["sample", "primers"], index=[f"{r}{c}" for r, c in zip(row, col)])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
[ 1  1  1  1  1  1  1  1  2  2  2  2  2  2  2  2  3  3  3  3  3  3  3  3
  4  4  4  4  4  4  4  4  5  5  5  5  5  5  5  5  6  6  6  6  6  6  6  6
  7  7  7  7  7  7  7  7  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9  9
 10 10 10 10 10 10 10 10 11 11 11 11 11 11 11 11 12 12 12 12 12 12 12 12]

In [30]:
df = pd.read_csv("/Users/angel/Library/CloudStorage/Box-Box/Projects/dnajc6 v naglu/2024-04-19 One True Family/genotyping/20240515_dvn_d-1.33-1.40/metadata.csv")
df.set_index("pos", inplace=True)
df

    sample primers
pos
A1      33   naglu
A2      wt   naglu
A3     NaN     NaN
A4     NaN     NaN
A5     NaN     NaN
..     ...     ...
H8     NaN     NaN
H9     NaN     NaN
H10    NaN     NaN
H11    NaN     NaN
H12    NaN     NaN

[96 rows x 2 columns]

In [44]:
for idx, row in df.iterrows():
    # print(col)
    print(row.loc["primers"])
    print("---")

naglu
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
naglu
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---
nan
---